@import "../../../../assets/css/variables.scss";

.users {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 6px;
    padding-top: 10px;
    padding-bottom: 6px;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        background: $BLACKSHADOW;
        width: 6px;

        &:hover {
            background: darken($BLACKSHADOW, 5%);
        }
    }

    .user {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: rgba(37, 38, 39, 0.15) 0px 1px 3px 1px;
        height: 50px;
        overflow: hidden;
        display: flex;

        .icon {
            width: 60px;
            font-size: 20px;
            color: $BLACKSHADOW;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .username {
            flex: 1 1 0;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            span {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .status {
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            .online {
                border-radius: 100%;
                width: 8px;
                height: 8px;
                background: rgb(185, 255, 176);
            }

            .last-login {
                font-size: 12px;
            }
        }

        &.offline {
            background: rgb(250, 250, 250);
            & > div{
                opacity: .4;
            }
        }

        &.you {
            .icon {
                .you-icon {
                    font-size: 15px;
                }
            }

            .username {
                span {
                    font-weight: bold;
                }
            }
        }

    }
}