<div *ngIf="users" class="users">

  <div *ngFor="let user of users" [ngClass]="{'offline': !user.online}" class="user">

    <div class="icon">
        <i *ngIf="!user.admin" class="fas fa-user"></i>
      <!-- <i *ngIf="!user.admin" class="fas fa-user-tie"></i> IF user._id === _userService.user._id -->
      <i *ngIf="user.admin" class="fas fa-crown"></i>
    </div>

    <div [title]="user.username" class="username">
      <span>{{user.username}}</span>
    </div>

    <div class="status">
      <div *ngIf="user.online" class="online"></div>
      <div *ngIf="!user.online" class="last-login">
        {{ user.lastLogin | date:'dd/MM/yyyy HH:mm:ss' | relativeTime }}
      </div>
    </div>

  </div>

</div>