@import "../../../../../../assets/css/variables.scss";

:host {
    width: 100%;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3px;
    border-bottom: 1px solid $BLACKSHADOW;

    .icon {
        font-size: 20px;
        color: $BLACKSHADOW;
        line-height: 0px;
        
        .you-icon {
            font-size: 15px;
        }
        
    }

    .username {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        text-align: center;
    }

    &.you {


        .username { 
            font-weight: bold;
        }
    }
}

.date {
    margin-bottom: 3px;
}

.date, .hour {
    display: flex;
    justify-content: center;

    .icon {
        font-size: 10px;
        margin-right: 2px;
        margin-top: 1px;
    }

    span {
        font-size: 10px;
    }
}