
<div (window:keydown.enter)="pressButton()" (window:keyup.enter)="releaseButtonAndSend()" class="input-wrapper">

  <app-type-picker></app-type-picker>

  <div class="input">
    <ng-template inputTypeHost></ng-template>
  </div>

  <div class="send">

    <div *ngIf="!inputService.sendingItem" class="button" [ngClass]="{'pressed': enterPressed, 'clickable': inputService.valid }">
      <span (click)="send()">
        <i class="fas fa-caret-square-right icon"></i>
      </span>
    </div>

    <div *ngIf="inputService.sendingItem" class="button clickable">
      <span>
        <i class="fas fa-sync-alt icon fa-spin"></i>
      </span>
    </div>

  </div>
</div>
