
<div *ngIf="room" class="info">
  <div class="name">
    <h1>{{room.name}}</h1>
  </div>

  <div class="id-lock">
    <div class="id">

      <app-tooltip [tooltip-text]="copyIdTooltipMessage" tooltip-direction="bottom" tooltip-effect="zoom">
        
        <div (click)="copyRoomId()" [ngClass]="{'tada': animateId}" class="animated copyable">
          <span>Id. </span>
          <h4>{{room.id}}</h4>
          <span class="copy-id">
            <i class="far fa-copy"></i>
          </span>
        </div>
        
      </app-tooltip>
      
      <app-tooltip [tooltip-text]="copyUrlTooltipMessage" tooltip-direction="bottom" tooltip-effect="zoom">
        <span (click)="copyRoomUrl()" [ngClass]="{'tada': animateUrl}" class="copy-url animated copyable">
            <i class="fas fa-link"></i>
        </span>
      </app-tooltip>
    </div>

    <app-tooltip *ngIf="!room.locked" class="lock" [ngClass]="{'clickable': authService.user.admin}"  tooltip-text="Lock room with a password" tooltip-direction="left" tooltip-effect="zoom" [tooltip-display]="authService.user.admin"> 
      <div >
        <i class="fas fa-unlock"></i>
      </div>
    </app-tooltip>

    <app-tooltip *ngIf="room.locked" class="lock" [ngClass]="{'clickable': authService.user.admin}"  tooltip-text="Change password" tooltip-direction="left" tooltip-effect="zoom" [tooltip-display]="authService.user.admin">
      <div >
        <i  [title]="room.name  + ' is locked with a password'" class="fas fa-lock"></i>
      </div>
    </app-tooltip>

  </div>

  <div class="menu">
    <div (click)="goHome()" class="button home">
      <i class="icon fas fa-home"></i>
      <span>Go home!</span>
    </div>
    <div class="button delete-room" *ngIf="authService.user.admin">
      <i class="icon far fa-trash-alt"></i>
      <span>Delete room</span>
    </div>
    <div (click)="logout()" class="button sign-out">
      <i class="icon fas fa-sign-out-alt"></i>
      <span>Sign out</span>
    </div>
  </div>

</div>