@import "../../../../../assets/css/variables.scss";

.input-button-wrapper {
    margin-bottom: 20px;
}



.button-wrapper {
    width: auto;
    max-width: none;
    flex: none;
}

.button {
    height: 74px;
    width: 74px;
    position: relative;
    background: $BLACKSHADOW;
    color: $WHITE;
    border: none;
    outline: none;
    display: flex;
    align-content: center;
    justify-content: center;
    transition: background .2s ease-in-out;
    cursor: default;

    &.clickable {

        cursor: pointer;

        &.pressed {
            background: darken($BLACKSHADOW, 8%);
            border: none;
            outline: none;
            top: 2px;
            left: 2px;
            box-shadow:	1px  1px 1px $ROCKETMETALLIC,
                        2px  2px 1px $ROCKETMETALLIC,
                        3px  3px 1px $ROCKETMETALLIC,
                        4px  4px 1px $ROCKETMETALLIC,
                        5px  5px 1px $ROCKETMETALLIC,
                        6px  6px 1px $ROCKETMETALLIC,
                        7px  7px 1px $ROCKETMETALLIC,
                        8px  8px 1px $ROCKETMETALLIC;
        }
    
        &:hover {
            background: darken($BLACKSHADOW, 8%);
        }
    
        &:active {
            background: darken($BLACKSHADOW, 8%);
            border: none;
            outline: none;
            top: 2px;
            left: 2px;
            box-shadow:	1px  1px 1px $ROCKETMETALLIC,
                        2px  2px 1px $ROCKETMETALLIC,
                        3px  3px 1px $ROCKETMETALLIC,
                        4px  4px 1px $ROCKETMETALLIC,
                        5px  5px 1px $ROCKETMETALLIC,
                        6px  6px 1px $ROCKETMETALLIC,
                        7px  7px 1px $ROCKETMETALLIC,
                        8px  8px 1px $ROCKETMETALLIC;
        }
    }

    .control-icon {
        height: auto;
    }
    
}


.input-wrapper {
    position: relative;


    input {
        position: relative;
        border: none;
        padding: 5px 20px;
        padding-right: 10%;
        width: 100%;
        height: 100%;
        outline: none;
        color: $ROCKETMETALLIC;

        &:disabled {
            background: #fff;
        }
    
        &::placeholder {
            color: lighten($ROCKETMETALLIC, 20%);
        }
    
        &:focus {
            outline: none;
            top: 2px;
            left: 2px;
            box-shadow:	1px  1px 1px $ROCKETMETALLIC,
                        2px  2px 1px $ROCKETMETALLIC,
                        3px  3px 1px $ROCKETMETALLIC,
                        4px  4px 1px $ROCKETMETALLIC,
                        5px  5px 1px $ROCKETMETALLIC,
                        6px  6px 1px $ROCKETMETALLIC,
                        7px  7px 1px $ROCKETMETALLIC,
                        8px  8px 1px $ROCKETMETALLIC;
    
            &::placeholder {
                color: lighten($ROCKETMETALLIC, 10%);
            }
        }
    }

    .input-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        font-size: 2rem;
        color: lighten($ROCKETMETALLIC, 20%);
        display: block;

        &.erase {
            cursor: pointer;
            &:hover {
                color: $ROCKETMETALLIC;
            }
        }
        &.spin {
            animation: spin 2s infinite linear;
            color: $ROCKETMETALLIC;
        }

    }
}

input, .button {
    border-radius: 5px;
    font-size: 45px;
    box-shadow:	1px  1px 1px $ROCKETMETALLIC,
                2px  2px 1px $ROCKETMETALLIC,
                3px  3px 1px $ROCKETMETALLIC,
                4px  4px 1px $ROCKETMETALLIC,
                5px  5px 1px $ROCKETMETALLIC,
                6px  6px 1px $ROCKETMETALLIC,
                7px  7px 1px $ROCKETMETALLIC,
                8px  8px 1px $ROCKETMETALLIC,
                9px  9px 1px $ROCKETMETALLIC,
                10px 10px 1px $ROCKETMETALLIC;
}

.alert-wrapper {
    max-height: 0;
    transition: all 1s ease-in-out;
    overflow: hidden;
    padding-bottom: 5px;
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 300ms;
    animation-fill-mode: both;

    &.open {
        transition: all 1s ease-in-out;
        max-height: 150px;
        animation-name: fadeIn;
        animation-delay: 500ms;
        animation-duration: 300ms;
        animation-fill-mode: both;
    }

    .alert {
        background: $BLACKSHADOW;
        color: rgb(131, 30, 42);
        text-align: center;
        margin-bottom: 0;
        margin-top: 20px;
        border-radius: 5px;
        box-shadow:	1px  1px 1px $ROCKETMETALLIC,
                    2px  2px 1px $ROCKETMETALLIC,
                    3px  3px 1px $ROCKETMETALLIC,
                    4px  4px 1px $ROCKETMETALLIC,
                    5px  5px 1px $ROCKETMETALLIC;
    }
    
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

