@import "../../../../assets/css/variables.scss";

.item {
    min-height: 50px;
    box-shadow: rgba(37, 38, 39, 0.15) 0px 1px 3px 1px;
    // border: 1px solid $BLACKSHADOW;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}