@import url("https://fonts.googleapis.com/css?family=Lobster|Pacifico");



h1 {
    font-weight: normal;
    font-size: 200px;
    line-height: 0.75;
    font-family: 'Lobster', 'Pacifico', "Avant Garde", sans-serif;
    // font-family: 'Pacifico', 'Lobster', "Avant Garde", sans-serif;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    padding-top: 2%;
    // letter-spacing: 6px; 
	text-shadow:	 1px  1px 1px #8A897C,
					 2px  2px 1px #8A897C,
					 3px  3px 1px #8A897C,
					 4px  4px 1px #8A897C,
					 5px  5px 1px #8A897C,
					 6px  6px 1px #8A897C,
					 7px  7px 1px #8A897C,
					 8px  8px 1px #8A897C,
					 9px  9px 1px #8A897C,
					10px 10px 1px #8A897C,
					11px 11px 1px #8A897C,
					12px 12px 1px #8A897C,
					13px 13px 1px #8A897C,
					14px 14px 1px #8A897C,
					15px 15px 1px #8A897C,
					16px 16px 1px #8A897C,
					17px 17px 1px #8A897C,
					18px 18px 1px #8A897C,
					19px 19px 1px #8A897C,
					20px 20px 1px #8A897C,
					21px 21px 1px #8A897C,
					22px 22px 1px #8A897C,
					23px 23px 1px #8A897C,
					24px 24px 1px #8A897C,
					25px 25px 1px #8A897C,
					26px 26px 1px #8A897C,
					27px 27px 1px #8A897C,
					28px 28px 1px #8A897C,
					29px 29px 1px #8A897C,
					30px 30px 1px #8A897C;
  
    -webkit-transform: skewY(-15deg);
    -moz-transform: skewY(-15deg);
    transform: skewY(-15deg);
  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    animation-duration: 1s;
    animation-delay: 1s;
}