@import "../../../../../../assets/css/variables.scss";

.text-input {
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    background: #fafafa;

    .editable {
        background: #fff;
        padding: 5px;
        border-radius: 5px;
        font-size: 20px;
        outline: none;
        user-select: text;
        border: 2px solid $BLACKSHADOW;
        width: 100%;
        white-space: pre-wrap;
        word-wrap: break-word;
        max-height: 100%;
        overflow-y: auto;
        min-height: 44px;
        color: rgb(40, 37, 187);
        text-decoration: underline;

        &::-webkit-scrollbar {
            width: 6px;
        }
    
    
        &::-webkit-scrollbar-thumb {
            background: $BLACKSHADOW;
            width: 6px;
    
            &:hover {
                background: darken($BLACKSHADOW, 5%);
            }
        }
    }
}