<div class="row input-button-wrapper d-flex justify-content-center">

  <div *ngIf="backButton" class="col-md-2 button-wrapper">

    <button (click)="back()" [ngClass]="{ 'clickable': true }" type="button" class="button btn-continue">
      <i class="fas fa-hand-point-left control-icon"></i>
    </button>

  </div>

  <div class="col-md-6 input-wrapper">

      <input
      #input
      *ngIf="type === 'room_id'"
      [(ngModel)]="value"
      (keydown.enter)="pressButton()"
      (keyup.enter)="releaseButtonAndSend()"
      type="text" 
      pattern="[0-9]*"
      inputmode="numeric"
      [placeholder]="placeholder"
      autofocus
      appRoomIdOnly >

      <input
      #input
      *ngIf="type === 'text'"
      [(ngModel)]="value"
      (keydown.enter)="pressButton()"
      (keyup.enter)="releaseButtonAndSend()"
      type="text" 
      [placeholder]="placeholder"
      autofocus >

      <span *ngIf="value.length > 0 && !loading" (click)="clear()" class="icon-wrapper">
        <i class="fas fa-times-circle input-button erase"></i>
      </span>

      <span *ngIf="loading" class="icon-wrapper">
        <i class="fas fa-sync-alt input-button spin"></i> 
      </span>

  </div>
  
  <div class="col-md-2 button-wrapper">

    <button (click)="send()" [ngClass]="{'pressed': enter, 'clickable': value.length > 0 }" type="button" class="button btn-continue">
      <i class="fas fa-hand-point-right control-icon"></i>
    </button>

  </div>
  
</div>
