@import "../../../assets/css/variables.scss";
@import url("https://fonts.googleapis.com/css?family=Gugi");

.main-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    overflow: hidden;
    font-family: "Gugi", sans-serif;

    .router {
        height: 30vh;
    }

    .home-forms.container-fluid {
        max-width: 1140px;
    }
}

