@import "../../../assets/css/variables.scss";

.main-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    overflow: hidden;

    .router {
        height: 30vh;
    }
}

