@import "../../../assets/css/variables.scss";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");


.main-title {
    animation-duration: 1s;
    animation-delay: 700ms;

    @media screen and ( max-width: $break-large ) {
        display: none;
    }

}



.main-wrapper {
    font-family: 'Nunito', sans-serif;
    color: $ROCKETMETALLIC;

    @media screen and ( max-width: $break-large ) {
        padding-top: 15px;
        padding-top: 15px;
    }
}

.room {
    background: $WHITE;
    overflow: hidden;
    display: grid;
    grid-template-columns: 75% 25%;
    height: calc( 100vh - 135px );
    width: 1400px;
    margin: 0 auto;
    border-radius: 3px;
    animation-duration: 500ms;
    min-height: 500px;
    box-shadow:	1px  1px 1px $ROCKETMETALLIC,
                2px  2px 1px $ROCKETMETALLIC,
                3px  3px 1px $ROCKETMETALLIC,
                4px  4px 1px $ROCKETMETALLIC,
                5px  5px 1px $ROCKETMETALLIC,
                6px  6px 1px $ROCKETMETALLIC,
                7px  7px 1px $ROCKETMETALLIC,
                8px  8px 1px $ROCKETMETALLIC,
                9px  9px 1px $ROCKETMETALLIC,
                10px 10px 1px $ROCKETMETALLIC;

    @media screen and ( max-width: $break-large ) {
        width: 100%;
        height: calc( 100vh - 30px );
    }
}


.main {
    display: flex;
    flex-direction: column;

    .items-outer-wrapper {
        flex: 1 1 0;
        position: relative;
    }

    .input-outer-wrapper {
        min-height: 75px;
        max-height: 400px;
        border-top: 1px solid $BLACKSHADOW;
    }
}

.side {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $BLACKSHADOW;

    .users-wrapper {
        flex: 1 1 0;
        position: relative;
    }

    .info-wrapper {
        height: 180px;
        border-bottom: 1px solid $BLACKSHADOW;
    }

    .search-wrapper {
        position: relative;
        min-height: 75px;
        border-top: 1px solid $BLACKSHADOW;
    }

}