<div class="main-wrapper container-fluid">

  <div class="main-title animated fadeIn">
    <app-title [roomPage]="true"></app-title>
  </div>

  <section class="room animated zoomIn">
  <!-- <section class="room"> -->

    <div class="main">
      

      <app-items [items]="items" [roomId]="id" class="items-outer-wrapper"></app-items>

      <div class="input">
      </div>

    </div>

    <div class="side">

      <div class="info-wrapper"> 
        <app-loader *ngIf="!room"></app-loader>
        <app-room-info *ngIf="room" [room]="room"></app-room-info>
      </div>

      <div class="users-wrapper">
        <app-loader *ngIf="!room"></app-loader>
        <app-room-users *ngIf="room" [users]="room.tempUsers"></app-room-users>
      </div>

      <div class="search-wrapper">
        <app-item-search></app-item-search>
      </div>
    </div>
  </section>
 
</div>
 