<div class="main-wrapper container-fluid">

  <div class="main-title animated fadeIn">
    <app-title [roomPage]="true"></app-title>
  </div>

  <!-- <section class="room animated zoomIn"> -->
  <section class="room">
    <div class="main">
      <div class="items-outer-wrapper">
        <div class="items-wrapper">
          <div class="fill"></div>
          <div class="items">
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
            <div class="item">ITEM</div>
          </div>
        </div>
      </div>
      <div class="input">

      </div>
    </div>
    <div class="side">
      <div class="info-wrapper">
        <app-loader *ngIf="!room"></app-loader>
        <div *ngIf="room" class="info">
          <div class="name">
            <h1>{{room.name}}{{room.name}}{{room.name}}{{room.name}}{{room.name}}</h1>
          </div>
          <div class="id">
              Id.{{room.id}}
          </div>
          
        </div>
      </div>
      <div class="users-wrapper">
        <app-loader *ngIf="!room"></app-loader>
        <div *ngIf="room" class="users">
          <div *ngFor="let user of room.temp_users" class="user">{{user.username}}</div>
        </div>
      </div>
      <div class="search-wrapper"></div>
    </div>
  </section>

</div>
